                <div class="doc-nav">
                  <div class="row">
                    <h3 class="title">GETTING STARTED</h3>
                      <div class="list-group table-of-contents">
                        <a class="list-group-item" href="#navbar">Welcome</a>
                        <a class="list-group-item" href="#buttons">Installation</a>
                        <a class="list-group-item" href="faq.html">FAQ</a>
                      </div>
                  </div>
                </div>