                <div class="doc-nav">
                  <div class="row">
                    <h3 class="title">GETTING STARTED</h3>
                      <div class="list-group table-of-contents">
                        <a class="list-group-item {% if page.name == 'welcome.html' %}active{% endif %}" href="welcome.html">Welcome</a>
                        <a class="list-group-item {% if page.name == 'installation.html' %}active{% endif %}" href="installation.html">Installation</a>
                        <a class="list-group-item {% if page.name == 'faq.html' %}active{% endif %}" href="faq.html">FAQ</a>
                      </div>
                      <h3 class="title">API</h3>
                      <div class="list-group table-of-contents">
                        <a class="list-group-item {% if page.name == 'options.html' %}active{% endif %}" href="options.html">Options</a>
                      </div>
                  </div>
                </div>