<div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">jquery.lineProgressbar.js</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">


          <ul class="nav navbar-nav navbar-right">
            <li><a href="demos.html">Demos</a></li>
            <li><a href="installation.html">Docs</a></li>
            <li><a href="https://github.com/kingRayhan/LineProgressbar/issues" target="_blank">Support</a></li>
            <li><a href="https://github.com/kingRayhan/LineProgressbar/archive/master.zip" target="_blank">Download</a></li>
          </ul>

        </div>
      </div>
    </div>