<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="https://kingrayhan.github.io/LineProgressbar/" class="navbar-brand">jquery.lineProgressbar.js</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">


          <ul class="nav navbar-nav navbar-right">
            <li><a href="demos.html">Demos</a></li>
            <li><a href="installation.html">Docs</a></li>
            <li><a href="https://github.com/kingRayhan/LineProgressbar/archive/master.zip" target="_blank">Download</a></li>
            <li><a href="https://github.com/kingRayhan/LineProgressbar/issues" target="_blank">Support</a></li>
            <li><a href="https://twitter.com/home?status=Wow!%20it's%20cool.%20Jquery%20Progressbar%20Plugin%0Ahttp%3A//bit.ly/lineprogressbar%0A%23LineProgressbar" target="_blank">Tweet Me&nbsp;&nbsp;<i class="fa fa-heart" style="color: red;"></i></a></li>
          </ul>

        </div>
      </div>
    </div>
