body{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.page-title{
    background: #EEEEEE;
    padding: 35px 0;
	h1{
		margin: 0;
		font-family: 'Raleway', sans-serif;
		font-weight: 300
	}
}


.demo-title{
	h1,h2,h3,h4{
		font-family: 'Roboto Condensed', sans-serif;
		padding-left: 12px;
	}
}


.doc-nav{
	/**/
	.title{
	    font-size: 17px;
	    font-weight: 700;
	}
}

.content{
	padding-top: 45px;
}